<!DOCTYPE html>
<html>
  <head>
    <title>Appyear</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
